.Header {
  &__Menu {
    &::after {
      content: '';

      width: 1px;
      height: 18px;

      background: var(--color-control-bg-border-default);
    }

    &_disabled {
      &::after {
        content: none;
      }
    }
  }

  &__Dropdown {
    margin-left: calc(var(--space-3xs) + var(--space-s));
  }

  &__MenuItem {
    &_disabled {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__Avatar {
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 4px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    &-img {
      margin-right: 8px;
    }

    &-name {
      min-width: 0;

      word-wrap: break-word;
    }
  }
}
